.git
.gitignore

.dockerignore
docker-compose.yml
.devcontainer/
.vscode/
.idea/
*.swp

venv/
.venv/
env/
ENV/

**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

*.sqlite3
.postgresql/

.DS_Store
Thumbs.db
